# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
sdist/
*.egg-info/
*.egg

# Virtual Environments
.venv/
venv/
ENV/

# AWS SAM
.aws-sam/

# Configuration file with secrets
config.json

# IDE / Editor specific
.vscode/
.idea/

# Test artifacts
.pytest_cache/
htmlcov/
.coverage